@import 'normalize';

 body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

image {
  vertical-align: top;
}

    